
<html>
    <head>
        <title>Registrar</title>
    </head>
    <body>
        <h1>Manage BSU</h1>

        <p><a href="/courses">Courses</a>. Click here to see all of the courses and to add a course.</p>
        <p><a href="/students">Students</a>. Click here to see all of the tasks and to add a student.</p>
    </body>
</html>
